.page {
  width: 100vw;
  min-height: 100vh;
  background: #ffffff;     /* ✅ FULL WHITE */
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}


.mainContent {
  max-width: 1200px;
  margin: auto;
  text-align: center;
}
